@model HospiceNiagara.Models.ApplicationUser

<div class="page-header">
    <h2>Profile - <small>@Model.FirstName @Model.LastName</small></h2>
</div>

<div class="col-md-4">
    <div class="profilePicture">
        @if (Model.ProfilePicture != null) {
            <img src="@Url.Action("ShowPic", "Profile", new { id = Model.Id })" class="img-responsive" style="max-height:400px; overflow:hidden" alt="portfolio Picture" />
        }
        else
        {
            <img src="~/img/login_background.jpg" class="img-responsive" style="max-height:400px; overflow:hidden" alt="Default Background for Users without portfolio Pictures" />
        }
    </div>
    <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#myModal">
        <span class="glyphicon glyphicon-plus-sign pull-left"></span> Upload Picture
    </button>
</div>

<div class="col-md-8">
    <div class="panel panel-primary">
        <!-- Default panel contents -->
        <div class="panel-heading">Profile Information</div>
        <div class="panel-body">
            <p><b>Name:</b> @Model.FirstName @Model.LastName</p>            
            <p><b>Bio:</b> @Model.Bio</p>
            <p><b>Position:</b> @Model.Position</p>
            <p><b>Position Description:</b> @Model.PositionDescription</p>
            
            <p>
            <b>Phone Number:</b> @Html.DisplayFor(m => m.PhoneNumber)
                @if(Model.PhoneExt != "")
                {
                <span> <b>Ext:</b> @Model.PhoneExt </span>
                }
            </p>
            <p><b>Email: </b> @Model.Email</p>            
            
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })
        </div>

        <!-- Table -->
        <table class="table">
            
        </table>
    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Upload Profile Picture</h4>
            </div>
            @using (Html.BeginForm("UploadPicture", "Profile", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="modal-body">

                    <h4>Profile Picture <small>Preferably an identity picture</small></h4>                                                                                        

                    <!-- Add What is need to make upload work here and the "Upload Button to submit"-->
                    <input type="file" class="file" id="input-1a" name="FileUpload1" />

                </div>
                <div class="modal-footer">                    
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>                    
                </div>
            }
        </div>
    </div>
</div>