@model PagedList.IPagedList<HospiceNiagara.Models.DatabaseModels.Announcement>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Announcements";
}

<h1>Announcements</h1>
<hr >
<br />
<form class="form-inline">
    <div class="form-group">
        <label for="txtSearch" class="sr-only">Search</label>
        <input type="text" class="form-control" id="txtSearch" placeholder="Enter Search Content">
    </div>
    <div class="form-group">
        <select name="ddlScheduleSelection" class="form-control">
            <option value="all">Recent</option>
            <option value="past">All</option>
            <option value="past">Name</option>
        </select>
    </div>
    <div class="form-group">
        @using (Html.BeginForm("Index", "File", FormMethod.Get))
        {
            <input type="submit" class="btn btn-blue btn-primary" value="Filter" />
        }
    </div>
</form>
<!--Search-->
@using (Html.BeginForm("Index", "AdminAnnouncements", FormMethod.Get))
{
    <p>
        <div class="form-inline">
            <label class="control-label">Search by Announcement Name :</label> @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control" })
            <input type="submit" value="Search" class="btn btn-primary" />
        </div>
    </p>
}
<!-- /End of search-->
<p>
    
</p>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            Description
        </th>
        <th>
            Public Visible
        </th>
        <th>
            @Html.ActionLink("Date", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            Created By
        </th>
        <th>@Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success" })</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isVisible)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedByID)
        </td>
        <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "btn btn-primary " })
                    @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "btn btn-primary " })
</td>
    </tr>
}

</table>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
        new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
