@model IEnumerable<HospiceNiagara.Models.DatabaseModels.Meetings>

@{
    ViewBag.Title = "Index";
}

<h1>Meetings</h1>
<br />
<br />
<form class="form-inline">
    <div class="form-group">
        <label for="txtSearch" class="sr-only">Search By Name</label>
        <input type="text" class="form-control" id="txtSearch" placeholder="Enter Search Content">
    </div>
    <div class="form-group">
        <select name="ddlScheduleSelection" class="form-control">
            <option value="all">All</option>
            <option value="past">Title</option>
            <option value="past">Description</option>
            <option value="past">Posted By</option>
        </select>
    </div>
    <div class="form-group">
        @using (Html.BeginForm("Index", "File", FormMethod.Get))
        {
            <input type="submit" class="btn btn-blue btn-primary" value="Filter" />
        }
    </div>
</form>
<br />
<br />
    <div class="row">
        @foreach (var item in Model.Skip(0).Take(10))
        {
            <div class="col-xs-12 col-sm-10  col-sm-push-1">
                <div class="panel panel-default">
                    <div class="panel-heading">@Html.DisplayFor(modelItem => item.Name)</div>
                    <div class="row">
                        <div class="panel-body">
                            <div class="col-xs-12">

                                <div class="row">
                                    <div class="col-xs-12 col-sm-7">
                                        <h4>Description</h4>
                                        <p>@Html.DisplayFor(modelItem => item.Description)</p>
                                    </div>
                                    <div class="col-xs-12 col-sm-5">
                                        <h4>Location</h4>
                                        <p>@Html.DisplayFor(modelItem => item.Location)</p>
                                        <h4>Requirements</h4>
                                        <p>@Html.DisplayFor(modelItem => item.Requirements)</p>
                                    </div>
                               </div>

                                <br />

                                <div class="row">
                                    <div class="col-xs-12 col-sm-7">
                                        @Html.DisplayNameFor(model => model.StartTime) : @Html.DisplayFor(modelItem => item.StartTime)
                                   &nbsp; &nbsp; &nbsp;
                                        @Html.DisplayNameFor(model => model.EndTime) : @Html.DisplayFor(modelItem => item.EndTime)
                                    </div>
                                    <div class="col-xs-12 col-sm-5">
                                        Staff Lead : @Html.DisplayFor(modelItem => item.StaffLeadID)
                                        &nbsp; &nbsp; &nbsp;
                                        @Html.DisplayNameFor(model => model.Date) Posted : @Html.DisplayFor(modelItem => item.Date)
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        }
    </div>
