@model HospiceNiagara.Models.ApplicationUser

@{
    ViewBag.Title = "Members_View";
}

<h2>Members_View</h2>

<div>
    <h4>MemberViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneExt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneExt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsContact)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsContact)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Position)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Position)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PositionDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PositionDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bio)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Members_Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Members_List")
</p>
