@model IEnumerable<HospiceNiagara.Models.DatabaseModels.Folder>

@{
    ViewBag.Title = "Folders";
}

<h1>Folders</h1>
<hr>
<br />
<form class="form-inline">
    <div class="form-group">
        <label for="txtSearch" class="sr-only">Search</label>
        <input type="text" class="form-control" id="txtSearch" placeholder="Enter Search Content">
    </div>
    <div class="form-group">
        <select name="ddlScheduleSelection" class="form-control">
            <option value="all">Recent</option>
            <option value="past">All</option>
            <option value="past">Name</option>
        </select>
    </div>
    <div class="form-group">
        @using (Html.BeginForm("Index", "File", FormMethod.Get))
        {
            <input type="submit" class="btn btn-blue btn-primary" value="Filter" />
        }
    </div>
</form>
<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FolderName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FolderDescription)
        </th>
        <th>
            @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success" })
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FolderName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FolderDescription)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "btn btn-primary " }) 
            @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "btn btn-primary " }) 
            @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "btn btn-primary " })
        </td>
    </tr>
}

</table>
