@model  PagedList.IPagedList<HospiceNiagara.Models.DatabaseModels.Deaths>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Deaths";
}

<h1>Deaths</h1>
<hr>
<br />

@using (Html.BeginForm("Index", "AdminDeaths", FormMethod.Get))
{
    <p>
        <div class="form-inline">
            <label class="control-label">Search by Name :</label> @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control" })
            <input type="submit" value="Search" class="btn btn-primary" />
        </div>
    </p>
}
<!-- /End of search-->
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Date", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            Location
        </th>
        <th>
           Note
        </th>
        <th>
            Visible
        </th>
        <th>
            Posted By
        </th>
        <th>@Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success" })</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Note)
        </td>
        <td>
            @if(item.Visible)
            {
                <p>Yes</p>
            }
            else
            {
                <p>No</p>
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedByID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "btn btn-primary " }) 
            @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "btn btn-primary " }) 
            @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "btn btn-primary " })
        </td>
    </tr>
}

</table>

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
        new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
