@model IEnumerable<HospiceNiagara.Models.ApplicationUser>

@{
    ViewBag.Title = "Members";
}

<h2>Members</h2>
<hr />
<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneExt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsContact)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Position)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneExt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsContact)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Position)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id}, new { @class = "btn btn-default" }) 
            @Html.ActionLink("Details", "Details", new { id = item.Id}, new { @class = "btn btn-default" }) 
            @Html.ActionLink("Delete", "Delete", new { id = item.Id}, new { @class = "btn btn-default" })
        </td>
    </tr>
}

</table>
