@model HospiceNiagara.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}

<!--Attach Custom css Here for Login-->
<link href="/Content/login_page.css" rel="stylesheet" />

<style>
    h2, p {
        color:white;
    }

    #login-content div {
        margin-top: 5px;
        margin-bottom: 5px;        
    }
</style>



<div class="row">

    <div class="col-md-4 col-sm-6 col-sm-offset-3 col-md-offset-4" id="login-content">

        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h2>Enter your email.</h2>
            <p>a temporary password will be sent to the e-mail if it's registered with our company</p>
            <hr />
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group login-email">
                <div class="error-message">@Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger col-md-offset-2 " })</div>
                <div class="input-group col-md-8 col-md-offset-2 col-sm-offset-1 col-sm-10" style="padding-bottom:0px !important;">
                    <span class="input-group-addon glyphicon glyphicon-envelope"></span>
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "E-Mail" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                    <input type="submit" class="btn btn-primary btn-block" value="Email Link" />
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
