@using HospiceNiagara.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<!--Attach Custom css Here for Login-->
<link href="/Content/login_page.css" rel="stylesheet" />

<div class="row">

    <div class="col-md-4 col-sm-6 col-sm-offset-3 col-md-offset-4" id="login-content">
        <h2 class="text-center">@ViewBag.Title</h2>
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <br />
                @Html.ValidationSummary(true, "", new { @class = "text-danger col-md-offset-1" })

                    <!-- E-mail with icon-->
                <div class="form-group">
                    <div class="error-message">@Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger col-md-offset-2 " })</div>
                    <div class="input-group col-md-10 col-md-offset-1 col-sm-offset-1 col-sm-10">
                        <span class="input-group-addon glyphicon glyphicon-envelope"></span>
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "E-Mail" })
                    </div>
                </div>

                <!--Password with icon-->
                <div class="form-group">
                    <div class="error-message">@Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger col-md-offset-2 " })</div>
                    <div class="col-md-10 col-md-offset-1 col-sm-offset-1 col-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon glyphicon glyphicon-lock"></span>
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
                        <input type="submit" value="Log in" class="btn btn-block  btn-default" />
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
                        <input type="button" value="Forgotten Password" class="btn btn-block btn-default" />
                    </div>
                </div>
                @*<p>
                        @Html.ActionLink("Register as a new user", "Register")
                    </p>
                    @* Enable this once you have account confirmation enabled for password reset functionality
                        <p>
                            @Html.ActionLink("Forgot your password?", "ForgotPassword")
                        </p>*@
            }
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}