<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    @if (User.Identity.IsAuthenticated)
    {      
    <div class="nav-side-menu col-md-2">
        <div class="brand">Hospice Niagara</div>
        <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

        <div class="menu-list">

            <ul id="menu-content" class="menu-content collapse out">

                <li data-toggle="collapse" data-target="#profile" class="collapsed">
                    <a href="#"><i class="fa fa-user fa-lg"></i> Profile <span class="arrow"></span></a>
                </li>
                <li class="sub-menu collapse" id="profile">
                   @Html.Partial("_LoginPartial")
                </li>

                <li class="active">
                    <a href="#">
                        <i class="fa fa-home fa-lg"></i> Home
                    </a>
                </li>

                <li data-toggle="collapse" data-target="#myHosepice" class="collapsed">
                    <a href="#"><i class="fa fa-flash fa-lg"></i> My Hospice <span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="myHosepice">
                    <li><a href="#">Resuorces</a></li>
                    <li><a href="#">Announcements</a></li>
                    <li><a href="#">Meetings</a></li>
                    <li><a href="#">Deaths</a></li>
                    <li><a href="#">Schedule</a></li>                    
                </ul>

                @if (User.IsInRole("Admin")) {
                <li data-toggle="collapse" data-target="#admin" class="collapsed">
                    <a href="#"><i class="fa fa-dashboard fa-lg"></i> Admin <span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="admin">
                    <a href="@Url.Action("Index","AdminMembers")" class="nav-link"><li>Members</li></a>
                    <li>Resources</li>
                    <li><a href="@Url.Action("Index","AdminAnnouncements")">Announcements</a></li>
                    <a href="@Url.Action("Index","AdminMeetings")" class="nav-link"><li>Meetings</li></a>
                    <li><a href="@Url.Action("Index","AdminDeaths")">Deaths</a></li>
                    <li>Schedule</li>
                </ul>
                }
            </ul>
        </div>
    </div>
     <!-- Page Content -->

                <div class="row">
                    <div class="col-md-9  col-sm-8 col-sm-offset-2 col-md-offset-2 page-content">
                        @RenderBody()
                    </div>
                </div>

            <!-- /#page-content-wrapper -->
    }
    else
    {
        @RenderBody()
    }
</body>
</html>
