@model HospiceNiagara.Models.DatabaseModels.File

@{
    ViewBag.Title = "Create";
}

<h1>Create</h1>

<div class="col-md-6 col-md-offset-3">

    @using (Html.BeginForm("", "AdminFiles", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", name = "fileUploadForm" }))
    {
        <div id="rootwizard">
            <div class="navbar">
                <div class="navbar-inner">
                    <div class="container">
                        <ul>
                            <li><a href="#tab1" data-toggle="tab"><i id="errorTab"></i> 1. upload file</a></li>
                            <li><a href="#tab2" data-toggle="tab">2. Add Permissions</a></li>
                            <li><a href="#tab3" data-toggle="tab">3. Review Session</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="bar" class="progress">
                <div class="bar progress-bar"></div>
            </div>

            <div class="tab-content">
                <div class="tab-pane" id="tab1">

                    <div class="form-group">
                        <div class="row">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <input type="file" id="fileUpload" multiple class="file form-control" name="FileUpload1" />
                            </div>
                            <div class="col-md-6">

                                <div id="descriptionFields"></div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="tab-pane" id="tab2">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-4">
                                @Html.LabelFor(model => model.FolderID, "Folder Name")
                                @Html.DropDownList("FolderID", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.FolderID, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                </div>
                <div class="tab-pane" id="tab3">     
                    <div id="errorReview"></div>              
                    <div id="reviewPage"></div>
                    <input type="submit" value="Upload File(s)" class="btn btn-primary"/>
                </div>

                <br />
                <ul class="pager wizard" id="pagerBottom">
                    <li class="previous first" style="display:none;"><a href="#">First</a></li>
                    <li class="previous"><a href="#" class="btn btn-primary">Previous</a></li>
                    <li class="next last" style="display:none;"><a href="#" class="btn btn-primary">Last</a></li>
                    <li class="next"><a href="#" class="btn btn-primary">Next</a></li>
                </ul>
            </div>
        </div>
    }
    <div>
        @Html.ActionLink("Back to List", "Index", "", new { @class = "btn btn-danger" })
    </div>

</div>

<script>
    //Happen outside of document before page is loaded.
    $("#fileUpload").fileinput({
        showUpload: false
    });

    //once page is loaded, you're a wizard Harry!
    $(document).ready(function () {

        //Remove Upload from the first Page

        $('#rootwizard').bootstrapWizard({
            onTabShow: function (tab, navigation, index) {                
                var $total = navigation.find('li').length;
                var $current = index + 1;
                var $percent = ($current / $total) * 100;
                $('#rootwizard').find('.bar').css({ width: $percent + '%' });
            }
        });

        //Event Handler for Files Upload clicked - find how many
        $('#fileUpload').change(function () {
            var filesSelected = document.getElementById('fileUpload').files;
            $('#fileLength').text(filesSelected.length);

            var descriptionTag = '<label for="fileDesc">File Description(s)</label><br />';
            var tagID = "";


            $.each(filesSelected, function (index, value) {
                tagID = "fileID" + (index + 1);
                descriptionTag += '<label>File: ' + (index + 1) + '</label><input type="text" id="' + tagID + '"  class="form-control" name="fileDesc" />';
            });

            $('#descriptionFields').html(descriptionTag);
        });

        var error = "";
        //validate the description fields
        $('form').submit(function (e) {
            var fileDescriptions = $('[name="fileDesc"');
            var filesSelected = document.getElementById('fileUpload').files;
            var validateDesc = true;

            $.each(fileDescriptions, function (index, value) {
                if (value.value == "") {
                    validateDesc = false;
                }
            });

            if (!validateDesc) {
                error = '<span class="text-danger">Description of Files cannot be empty</span><br/><br/>';
                $('#errorReview').html(error);
                $('#errorTab').html('<span class="text-danger">*</span>');
                e.preventDefault();                
            }
            
            if (fileDescriptions.length == 0) {
                error = '<span class="text-danger">No Files Selected, Select Files before uplode.</span><br/><br/>';
                $('#errorReview').html(error);
                $('#errorTab').html('<span class="text-danger">*</span>');
                e.preventDefault();
            }

        });

        $("#pagerBottom, [data-toggle='tab']").click(function () {                                   
            var output = "";
            var filesSelected = document.getElementById('fileUpload').files;
            var folderSelected = $('#FolderID :selected').text();
            var fileDescriptions = $('[name="fileDesc"');
            
            
            output = '<label>Folder Selected: </label>' + ' ' + folderSelected + '<br />';

            //loop throught files selected and descriptions
            $.each(filesSelected, function (index, value) {
                output += '<label>File Name:</label> ' + value.name + '<br />' + '<label>File Description</label> ' + fileDescriptions[index].value + '<br /> <br />';                
            });

            

            $('#reviewPage').html(output);


        });







    });

</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
