@model IEnumerable<HospiceNiagara.Models.DatabaseModels.File>
@{
    ViewBag.Title = "Index";
}

<h1>Resources</h1>
<hr >
<br />
    <!--Search-->
<form class="form-inline">
    @using (Html.BeginForm("Index", "AdminFiles", FormMethod.Get))
    {

        <div class="form-group">
            <label class="control-label">Search by File Name: </label> @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control" })
            <label for="FolderID" class="control-label">Folder Name: </label>
            @Html.DropDownList("FolderID", null, htmlAttributes: new { @class = "form-control", @Name = "folderID" })


            <input type="submit" value="Search" class="btn btn-primary" />
        </div>

    }
    <!-- /End of search-->
</form>
    <br />
    <table class="table table-striped table-hover">
        <tr>
            <th>
                Folder Name
            </th>

            <th>
                File Name
            </th>
            <th>
                File Description
            </th>
            <th>
                File Type
            </th>
            <th>@Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success btn-block" })</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Folder.FolderName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FileName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FileDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MimeType)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Download", "FileDownload", new { id = item.ID }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "btn btn-primary" })
                </td>
            </tr>
        }
    </table>
